.section-information-candidat {
    /* background: red; */
}

.section-row-table .article-table2 {
    /* background: yellow; */
    border-left: 1px solid #58585654;
    flex: 0.5;

}

.fig-title-table-ais {
    padding: 1.2em 2.5em;   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-ais{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
.row-ais i{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fig-title-table-ais h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: #2892F5;
}


/* FIGURE I PERSONNEL */

.fig-personnel-ais{
    /* background: red; */
    padding: 0 5em;
}
.figure-title-secondary-ais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}


.figure-title-secondary-ais i {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.figure-title-secondary-ais h3 {
    font-weight: 600;
    color: #585856;
    font-size: 1.19em;
}

/* Personnel information */
.fig-personnel {
    padding: 0.8em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.figure-desc-ais {
    /* background: red; */
}

.figure-desc-ais .col-desc-ais {
    /* background: green; */
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
    margin-bottom: 1em;
    gap: 1em;
    width: 85%;
}

.figure-desc-ais .col-desc-ais legend {
    /* background: yellow; */
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
}

.figure-desc-ais .col-desc-ais legend :is(p, strong) {
    flex: 1;
    font-size: 1.05em;
}

.figure-desc-ais .col-desc-ais legend strong {
    /* text-transform: capitalize; */
    font-weight: 480;
}

.figure-desc-ais .col-desc-ais legend p {
    color: #585856;
}

.fig-message {
    padding: 0.8em 2.5em;
    display: flex;
    flex-direction: column;
    /* background: red; */
    gap: 1em;
    width: 96.5%;
float: right;
}

.row-lab {
    /* background: red; */
    /* margin-left: 3em; */
    height: max-content;
    width: 100%;
    /* float: right; */
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    cursor: pointer;
    outline: 1px solid #58585654;

}

.row-lab h4 {
    /* background: green; */
    text-align: left;
    border-right: 1px solid #58585654;
    padding: 0.5em;
    width: 100%;
}

.row-lab i {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row-lab i:first-child {
    border-right: 1px solid #58585654;

}

/* MESSAGE SLIDE */
.slide-container {
    max-height: 0; /* Start hidden */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.3s ease; /* Smooth slide effect */
}

/* Expanded state */
.slide-container.expanded {
    max-height: 200px; 
}

/* Textarea styles */
#message-textarea {
    width: 100%;
    height:8em; 
    padding: 10px;
    font-size: 0.98em;
    border: 1px solid #ccc;
    border-radius: 0;
    color:#6b6b6b;
    margin-top:0.5em;
    /* float: right; */
    line-height:1.5em;
    /* margin-left: 3em; */
    cursor:default;
}


#chevron-icon.rotated {
    transform: rotate(180deg); /* Rotate the chevron */
}

.section-btn-ais{
    margin: 3em 2.5em;

}
.btn-picture-ais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.fig-table-ais {
    /* background: red; */
    padding: 0.8em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-left: 3em;

}

/* TABLE */


.th-icon-ais{
    /* background: red; */
    flex: 0 5em !important;
}
.row-th-ais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    /* background: green; */
    margin: 0 auto;
}

.f-bold-ais{
    font-weight: 700 !important;
}

.row-th-ais i {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 0.5em; */
}

.th p {
    font-size: 1.05em !important;    font-weight: 400;
    color: #585856;
}



.row-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em !important;
    line-height: 0.9em !important;
}

.color-white {
    color: #fff;
}



.title-doc {
    font-weight: 700;
}

.row-doc {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.table-doc-ais {
    /* background: rgb(0, 0, 0); */
    /* border: 1px solid black; */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: 0 !important;
    /* background: green; */

}

.tr-ais{
    /* background: yellow !important; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #58585654;
    justify-content: center;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}


.inpt-silver {
    border: none;
    background: #5858561A;
    outline: none;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1em;
    flex: 1;
}


.th {
    text-wrap: nowrap;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    /* background: red !important; */
    padding: 0.8em 1em;
    flex: 1;
    height: 4.5em;
    max-height: 100%;
    border: 0.5px solid #58585654;

}

.t-head-ais {
    /* background: red; */
    /* display: flex;
    flex-direction: column;
    gap: 1em; */
}

.p-wrap {
    text-wrap: wrap;
    font-weight: 500;
    width: 80%;
    /* background: red */
}


.table-parent-ais {
    /* background: green !important; */
    /* overflow: auto; */
    /* display: none !important; */
    width: 100% !important;

}

.table-parent-ais figure {
    /* background: red; */
    width: 100%;
}

.table-doc-ais tr th {
    /* background: yellow; */
    /* border-right: 1px solid black; */
    padding: 0.2em 0.8em;
    font-weight: 550;

}

.table-doc-ais tr th:nth-child(3) {
    /* background: red; */
    width: 40%;
}

.table-doc-ais tr th:last-child {
    /* background: red; */
}

.table-doc-ais tr th:nth-child(2) {
    /* background: green; */
    text-align: left;
}

.table-doc-ais tr th input[type='checkbox'] {
    width: 1.2em;
    height: 1.2em;
    accent-color: var(--primary);
}

.table-doc-ais tr th:last-child {
    /* background: yellow; */
    /* border-right: none; */

}

.red {
    color: rgb(206, 22, 22);
}

.th-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.th-row i {
    cursor: pointer;
}

.th-row i:hover {
    scale: 1.05;
}
