
@media screen and (max-width: 930px) {
    html {
        font-size: 0.8em;
    }

    .section-article-picture-ais {
        text-align: left;
    }
    .article-texte-ais{
        text-align: center;
    }
    .article-texte-ais p{
        width: 95%;

    }

    .fig-title-table-ais {
        display: flex;
        flex-direction: column;
        align-items: start !important;
        gap: 1.5em;
    }
    .fig-personnel-ais{
        /* background: red; */
        padding: 0 2.5em;
        margin-top: 2em;
    }
    .fig-table-ais {

        margin-left: 0;
    
    }
    .t-head-ais {
        /* background: red; */
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
.fig-message {
 
    width: 100%;
    margin-bottom: 1em;
}


.btn-picture-ais{
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    padding: 0 0;
    width: 100%;
}

.btn-picture-ais div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    padding: 0 0;
    width: 100%;
}

.btn-picture-ais div button{
    width: 100%;
}

.figure-desc-ais .col-desc-ais {
    /* background: green; */
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    margin-bottom: 1em;
    gap: 1em;
    width: 100%;
}

    
}